/* letter-spacing 及びフォントの種類を一括指定 */
* {
    letter-spacing: 0.05em;
    font-family: "Noto Sans JP";
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    background-color: rgba(0, 0, 85, 0.8);
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

h1 {
    float: left;
    color: #fff;
    font-size: 26px;
    padding-left: 20px;
    line-height: 80px;
}

h1 span {
    color: #ff5;
}

.menu {
    float: right;
}

.menu::after {
    content: "";
    display: block;
    clear: both;
}

.menu li {
    list-style: none;
    float: left;
    color: #fff;
    font-weight: bold;
    padding: 0 20px;
    line-height: 80px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.menu li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#burger-iconArea {
    display: none;
    float: right;
    width: 48px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#burger-iconArea:active {
    background-color: rgba(255, 255, 255, 0.1);
}

.burger-bar {
    width: 32px;
    height: 4px;
    background-color: #fff;
    margin: 9px auto;
    transition: all 0.5s ease-in-out;
}

#burger-menuArea {
    float: right;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
}

#burger-menuArea div {
    margin: 10px;
}

#burger-menuArea p {
    display: inline-block;
    color: rgb(0, 0, 85);
    cursor: pointer;
}

#burger-menuArea p:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

#back-layer {
    position: fixed;
    float: left;
    display: none;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100vh;
    z-index: 9;
}

/* float 解除用の空要素 */
.clear {
    clear: both;
}

main {
    background-color: #dfe;
}

.main-view {
    background-image: url(images/main.jpg);
    height: 40vh;
    width: 100%;
    background-position: 50% 85%;
    background-size: cover;
}

.main-contents {
    padding-bottom: 20px;
}

.content-area {
    width: 1024px;
    max-width: 90%;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
}

.selfIntro-contents {
    width: 600px;
    max-width: 90%;
    margin: 0 auto;
}

.main-heading {
    font-size: 24px;
    color: #3355cc;
    padding-top: 80px;
    margin-bottom: 40px;
}

.main-heading span {
    font-size: 14px;
}

p, .selfIntro-lists li {
    text-align: left;
}

.selfIntro-text {
    font-size: 16px;
    padding-bottom: 30px;
    line-height: 32px;
}

.selfIntro-text span {
    font-weight: bold;
}

.selfIntro-img {
    width: 100%;
    margin-bottom: 40px;
}

.selfIntro-listArea {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.selfIntro-lists {
    background-color: #3355cc;
    border-radius: 10px;
    width: 48%;
}

.selfIntro-title {
    font-size: 16px;
    color: #fff;
    padding: 20px 0 10px 0;
    margin: 0 10px;
    border-bottom: 1px solid #fff;
}

.selfIntro-title span {
    font-size: 12px;
    padding-top: 3px;
    height: 17px;
}

.selfIntro-list {
    color: #fff;
    font-weight: bold;
    padding: 20px 0;
    margin: 0 10px;
    font-size: 16px;
}

.selfIntro-list li {
    height: 30px;
    line-height: 30px;
    margin-left: 37.2px;
}

.imple-contents {
    padding-bottom: 40px;
}

.imple-subtitle {
    color: #308060;
    font-size: 16px;
    border-bottom: 1px solid #B7B7B7;
    padding-bottom: 3px;
    margin-bottom: 40px;
}

/* 画像ギャラリーのコンテンツ全体 */
.photo-contents {
    display: flex;
}

.photo-area {
    width: 25%;
    display: flex;
    flex-direction: column;
}

h4 {
    color: #fff;
    background-color: #308060;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 6px;
}

.photo-area img {
    width: 90%;
    margin: 0 auto;
}

.photo-area p {
    width: 90%;
    margin: 0 auto;
    margin-top: 4px;
    font-size: 12px;
    line-height: 17px;
}

.assignment-area {
    width: 600px;
    max-width: 80%;
    margin: 0 auto;
}

.assignment-title {
    width: 100%;
}

.assignment-area img {
    width: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
    vertical-align: middle;
    transition: all 0.3s ease-in-out;
}

.assignment-area img:hover {
    opacity: 0.6;
}

.assignment-description {
    margin: 7px 0 20px 0;
}

.assignment-description div {
    display: flex;
}

.assignment-description h5 {
    font-size: 12px;
    min-width: 60px;
}

.assignment-description p {
    font-size: 12px;
    
}

footer {
    background-color: #8ab3dc;
    height: 120px;
}

footer p {
    color: white;
    text-align: center;
    font-size: 16px;
    padding-top: 20px;
}

/* レスポンシブ対応 */
@media(max-width: 768px) {
    header {
        height: 48px;
    }

    h1 {
        font-size: 20px;
        line-height: 48px;
    }

    .menu {
        display: none;
    }

    #burger-iconArea {
        display: block;
    }

    .main-view {
        background-position: bottom;
        height: 100vh;
    }

    .content-area > * {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .main-heading {
        font-size: 20px;
    }

    .selfIntro-text {
        font-size: 14px;
    }
    
    .selfIntro-listArea {
        flex-direction: column;
        gap: 10px;
    }

    .selfIntro-lists {
        width: 90%;
        margin: 0 auto;
    }

    .photo-contents {
        flex-direction: column;
        gap: 20px;
    }
    
    .photo-area {
        width: 100%;
        margin: 0 auto;
    }

    h4, .photo-area img {
        width: 80%;
    }
    
    .photo-area p {
        width: 80%;
    }
}
